<div class="panel panel-default">
	<div class="panel-heading">
		Add a New Listing
	</div>
	<div class="panel-body">
		<div class="container">
			<%= form_for @room do |f| %>
				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Type of House</label>
							<%= f.select :home_type, [["House","House"], ["Appartement","Appartement"],
							["Bed & Breakfast", "Bed & Breakfast"]], id: "home_type",
							prompt: "A sélectionner...", class: "form-control" %>
					    </div>
				     </div>
				<div class="col-md-4 select">
						<div class="form-group">
							<label>Type of room</label>
							<%= f.select :room_type, [["Entire place","Entire place"], ["Private room","Private room"],
							["Bed & Breakfast", "Bed & Breakfast"]], prompt: "A sélectionner...", class: "form-control" %>
					     </div>
				   </div>
				<div class="col-md-4 select">
						<div class="form-group">
							<label>How many travelers?</label>
							<%= f.select :accommodate, [["1 voyageur",1], ["2 voyageurs",2],
							["3 voyageurs", 3], ["4 voyageurs",4], ["5 voyageurs",5], ["6 voyageurs",6]],
							prompt: "A sélectionner...", class: "form-control" %>
					     </div>
				    </div>
				</div>	
			<% end %>
		</div>
	</div>
</div>			